# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Models
models/*.h5
models/*.keras

# Dataset
data/raw/
data/train/
data/validation/
data/test/

# Tuning results
tuner_results/

# Results
results/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
